.App {
	font-family: 'SF Pro Display', sans-serif;
	display: grid;
	grid-template-columns: 240px auto;
	min-height: 1000px;
}

.Aside {
	background: #091336;
	padding: 23px 0;
}

.Aside__logo {
	display: block;
	max-width: 109px;
	width: 100%;
	height: 28px;
	margin-bottom: 32px;
	padding: 0 13px;
}

.Aside__nav {
	display: grid;
	color: #fff;
}

.Aside__link {
	color: rgba(255, 255, 255, 0.6);
	text-decoration: none;
	padding: 16px 13px;
	display: flex;
}

.Aside__link_active {
	background: rgba(216, 228, 251, 0.32);
	border-left: 3px solid #005ff8;
	color: #fff;
	position: relative;
}

.Aside__link_active::after {
	content: '';
	position: absolute;
	top: 0;
	bottom: 0;
	right: 22px;
	margin: auto;
	width: 8px;
	height: 8px;
	background: #ffd500;
	border-radius: 50%;
	box-shadow: 0px 3px 8px rgba(237, 218, 1, 0.5);
}

.Aside__link_active .Aside__icon {
	opacity: 1;
}

.Aside__icon {
	width: 20px;
	height: 20px;
	margin-right: 15px;
	opacity: 0.5;
}

.Main {
	background: #f1f4f9;
}
